language: node_js
sudo: false
node_js:
- '8'

cache:
  directories:
  - node_modules

env:
- NPM_CONFIG_LOGLEVEL='warn'

jobs:
  include:
  - stage: build library
    script:
    - yarn build
  - stage: publish library release
    deploy:
    - provider: npm
      email: davin.kevin@gmail.com
      api_key:
        secure: d1DSRutZL7+adGRMFSFXOijxaOpXKEf80SqB7UDBxQJsFXR2LnDpC2CVVe17VKYTFeaUrh57pYsOZ/VRI7g4ratzTB1MF4PrBv/Zy/XvdvmsI+s6Akg3lUkmWcBOuE+fGkQtfpWkcuwneu4MsWlRuflMI6xGmziNxsLdUzvOpINUs9qyg2zpMQEbCngVgS5C8J2V4gXUcIbfDbqyWXkU6WneJ9MbxrAVgl+FbgDVs8tDimF+VaT6TJpNcL2cNnhAr5U5mejv9aHjy0BmpiGBjQBtg3ayGF44Qb/ZczPe7CKNcodl+8Z0IaQCtpGOC+HndtEOTcCLPYSXLGM236nBkJgaK4U3TVj14L0PYNbueQjcFpsqAMvMA2oayPLZ5oIaKPHNCXVH6pTPSzmRZwWgTm7Vr0ka9Z+bibjufMBMGBhwdmWEFfxjsha/54NpZL5ijxtIA5kthpqUUoOOmQPm7Xm6eHzq1X1Cn4ubhB8LzgzOpNQJuMsTbqu8avrJAFdlYLnjT79X+ifvSh+GlLcLtR9MuK7PdCbE4uWK0666AcaHa2xoHQjyzVwI9rRnQE7gR+9nXACSJg9yOlsRkQCxvMBazB3QJdJ5Uxbrs4+JkMwXXakbnw7A/JHjeg40nFgXIDyLyxTis9kadOBSOWOz06ekPbuBSgsls6IWMZJKj68=
      on:
        tags: true
        repo: davinkevin/ngx-stomp
      skip_cleanup: true
